body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    
}
.btn-color{
    background-color: rgb(214, 205, 205) !important;
}
.btn-color:hover{
    background-color: rgb(198, 189, 189) !important;
}
